.copy-to-clipboard{
    display: flex;
    margin-top: 0.5rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid white;
    color: rgb(0, 0, 0);
    background: white;
    width: 15rem;
    cursor: pointer;

    & img {
        max-width: 2rem;
    }
}