.password-length{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    text-align: center;

    & input{
        width: 17rem;
        height: 3.5rem;
        border: none;
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        
        &::placeholder{
            color: rgb(0, 0, 0);
            opacity: 1;
            font-size: 1.2rem;
            text-transform: capitalize;
        }
    }
}
